html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

// .stop-scroll {
//   @include stop-scroll
// }

.is-hidden {
  display: none !important;
}

// .for-mobile {
//   display: none;

//   @include mobile {
//     display: block;
//   }
// }

.error {
  border: 2px solid #ff4019 !important;
}

// .visually-hidden {
//   @include visually-hidden;
// }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  // max-width: 1200px;
}

// .js-focus-visible :focus:not(.focus-visible) {
//   outline: none;
// }