.banners {
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 33%;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 0.6%;
    }
  }
}

.banners-article {
  padding: 54px 60px;
  padding-right: 52%;
  min-height: 290px;
  background-position: center;
  background-size: cover;
  background-color: #e9e4df;

  &--mid {
    background-image: url("../img/midseason.jpg");
  }

  &--summer {
    background-image: url("../img/summer.jpg");
  }

  &--accs {
    background-image: url("../img/accs.jpg");
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 36px;
  }
}
